.wrapper {    
    margin-bottom: 3em;
    width: 835px; 
    height: 320px;
    top: 325px;
    left: 226px;
    border-radius: 5px;
    background-color: #fbfbfb;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0212249);
    padding: 25px;
}

.head {
    display: flex;
    justify-content: space-between;
}

.titlea-activity {
    font-size: 15px;
    line-height: 24px;
    color: #20253A;
}

.legend {
    display: flex;
}

.info {
    display: flex;
    align-items: center;
}

.icon {
    height: 8px;
    width: 8px;
    border-radius: 50%;
    margin-left: 30px;
}

.tooltip {
    background-color: #E60000;
    width: 55px;
    height: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.kg {
    background-color: #282D30;
}

.kcal {
    background-color: #E60000;
}

.info p {
    font-weight: 500;
    font-size: 14px;
    color: #74798c;
    margin-left: 10px;
}
