
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
}

.app {
  display: grid;
  width: 1024px;
  height: 768px;
  grid-template-rows: 5.75rem repeat(3, 1fr);
  grid-template-columns: 7.5rem repeat(4, 1fr);
  overflow: hidden;
  background: #ffffff;
}

