.profil {
    margin: 100px;
    padding: 20px; /* Espacement intérieur */
    border-radius: 10px; /* Coins arrondis */
}

.Bienvenu {
    font-size: 24px; /* Taille de police */
    font-weight: bold; /* Gras */
    color: #333; /* Couleur du texte */
    margin-bottom: 10px; /* Marge en bas */
}

.textencours {
    font-size: 18px; /* Taille de police */
    color: #666; /* Couleur du texte */
}
