.ProfilPerf {
  display: flex;
  margin-top: 35px;
  margin-left: 150px;
}

@media screen and (max-width: 1250px) {
  .ProfilPerf {
      grid-gap: 1em; /* Déplacement de grid-gap à l'intérieur de la règle @media */
  }
}

.contaner{
  max-width: 1240px;
  width: 100%;
  margin: auto;
  margin-top:2%;
}
.contenu{
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.contenu-chart{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap:1em;
  justify-content: space-between;
}
.contenu-besoin{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 835px;
  flex-direction: column;
  margin: auto;
  margin-left:0;
}