.ProfilPerf {
  display: flex;
  margin-top: 20px;
  margin-left: 150px;
}

@media screen and (max-width: 1250px) {
  .ProfilPerf {
    grid-gap: 1em;
  }
}

.Profil {
  max-width: 1240px;
  width: 100%;
  margin: auto;
  margin-top: 2%;
}

.contenu-besoin {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.contenu-chart {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap:1em;
  justify-content: space-between;
}

.aside {
  display: flex;
  /*flex-wrap: wrap
  justify-content: space-between;
  max-width: 835px;*/
  flex-direction: column;
  margin: auto;
  padding: 2em;
}
@media (max-width: 1208px) {
  .aside {
      flex-direction: row;
      margin: auto 0;
      margin-right: 6em;
  }
}